{% extends 'base.html' %}

{% block title %}
{{ product.goods_name }}
{% endblock %}

{% block content_title %}

{% endblock %}
{% block content %}

<div class="beer">
    <div class="row">
        <div class="mr-auto  m-3" >
            <a href="#"><img src="{{url_for('static', filename='images/'+ product.image_link )}}" class="img-fluid"></a>
        </div>
        <div class="ml-auto  m-3">
            <p class="font-weight-bold">{{ product.goods_name }} </p>
        <p class="font-weight-light">Цена: {{ product.goods_price }} руб.</p>
            <button type="button" class="btn btn-primary">В корзину</button> <p>
            <p class="font-weight-bold">{{ product.goods_discription}} </p>
            <ul>
            <li class="beer">Объем: {{ product.goods_size }} </li>
            <li class="beer">Остаток на складе: {{ product.goods_amount }} </li>
            <li class="beer">Крепость: {{ product.goods_strength }} </li>
            <li class="beer">Страна производства: {{ product.goods_country }} </li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}
