{% extends 'base.html' %}

{% block title %}
   Главная
{% endblock %}

{% block content_title %}


   <div class="bnr" id="home">
		<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider4">
			    <li>
					<img src="/static/images/bnr-1.jpg" alt=""/>
				</li>
				<li>
					<img src="/static/images/bnr-2.jpg" alt=""/>
				</li>
				<li>
					<img src="/static/images/bnr-3.jpg" alt=""/>
				</li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!--banner-ends-->
	<!--Slider-Starts-Here-->
				<script src="/static/js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });

			    });
			  </script>
			<!--End-slider-script-->
	<!--about-starts-->
	<div class="about">
		<div class="container">
			<div class="about-top grid-1">
				<div class="col-md-4 about-left">
					<figure class="effect-bubba">
						<a href="{{url_for ('catalog_bp.goods_list_by_category', category_url=1, page=1)  }}"><img class="img-responsive" src="/static/images/abt-1.jpg" alt=""/>
						<figcaption>
							<h2>Beer</h2>
                            <p>The best taste from trusted brands</p>
                        </figcaption>
					</figure>
				</div>
				<div class="col-md-4 about-left">
					<figure class="effect-bubba">
						<a href="{{url_for ('catalog_bp.goods_list_by_category', category_url=2, page=1)  }}"><img class="img-responsive" src="/static/images/abt-2.jpg" alt=""/>
						<figcaption>
							<h4>Cider</h4>
							<p>Only fresh apples</p>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-4 about-left">
					<figure class="effect-bubba">
						<a href="{{url_for ('catalog_bp.goods_list_by_category', category_url=3, page=1)  }}"><img class="img-responsive" src="/static/images/abt-3.jpg" alt=""/>
						<figcaption>
							<h4>Meed</h4>
							<p>Our best bees get a quarterly bonus!</p>
						</figcaption>
					</figure>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--about-end-->
	<!--product-starts-->




<div class="text-prev"><h1>Популярные напитки:</h1></div>

	<div class="product">
		<div class="container">
			<div class="product-top">
				<div class="product-one">
					{% for product in products[0:4] %}
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="{{url_for('catalog_bp.goods', goods_url = product.goods_url)}}" ><img class="img-responsive zoom-img" src="{{url_for('static', filename='images/'+ product.image_link )}}"   alt="" /></a>
							<div class="product-bottom">
								<h3>{{ product.goods_name }}</h3>
								<p>В корзину</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">&#8381 {{ product.goods_price }}</span></h4>
							</div>
							<div class="srch">
								<span>Buy now!</span>
							</div>
						</div>
					</div>
					{% endfor %}

					<div class="clearfix"></div>
				</div>

				<div class="product-one">
					{% for product in products[4:8] %}
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="{{url_for('catalog_bp.goods', goods_url = product.goods_url)}}" ><img class="img-responsive zoom-img" src="{{url_for('static', filename='images/'+ product.image_link )}}"    alt="" /></a>
							<div class="product-bottom">
								<h3>{{ product.goods_name }}</h3>
								<p>В корзину</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">&#8381 {{ product.goods_price }}</span></h4>
							</div>
							<div class="srch">
								<span>Buy now!</span>
							</div>
						</div>
					</div>
					{% endfor %}
					<div class="clearfix"></div>
				</div>
				<div class="product-one">
					{% for product in products[8:12] %}
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="{{url_for('catalog_bp.goods', goods_url = product.goods_url)}}" ><img class="img-responsive zoom-img" src="{{url_for('static', filename='images/'+ product.image_link )}}"    alt="" /></a>
							<div class="product-bottom">
								<h3>{{ product.goods_name }}</h3>
								<p>В корзину</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">&#8381 {{ product.goods_price }}</span></h4>
							</div>
							<div class="srch">
								<span>Buy now!</span>
							</div>
						</div>
					</div>
					{% endfor %}
					<div class="clearfix"></div>
				</div>
				<div class="product-one">
					{% for product in products[12:16] %}
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="{{url_for('catalog_bp.goods', goods_url = product.goods_url)}}" ><img class="img-responsive zoom-img" src="{{url_for('static', filename='images/'+ product.image_link )}}"    alt="" /></a>
							<div class="product-bottom">
								<h3>{{ product.goods_name }}</h3>
								<p>В корзину</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">&#8381 {{ product.goods_price }}</span></h4>
							</div>
							<div class="srch">
								<span>Buy now!</span>
							</div>
						</div>
					</div>
					{% endfor %}
					<div class="clearfix"></div>
				</div>
				<div class="product-one">
					{% for product in products[16:20] %}
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="{{url_for('catalog_bp.goods', goods_url = product.goods_url)}}" ><img class="img-responsive zoom-img" src="{{url_for('static', filename='images/'+ product.image_link )}}"    alt="" /></a>
							<div class="product-bottom">
								<h3>{{ product.goods_name }}</h3>
								<p>В корзину</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">&#8381 {{ product.goods_price }}</span></h4>
							</div>
							<div class="srch">
								<span>Buy now!</span>
							</div>
						</div>
					</div>
					{% endfor %}
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>



{% endblock %}

