{% extends 'base.html' %}

{% block title %}
{{ product.goods_name }}
{% endblock %}

{% block content_title %}
<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a> {{product.goods_name}}</a></li>
					<li class="active">{{ product.goods_country }}</li>
				</ol>
			</div>
		</div>
	</div>
<div class="single contact">
		<div class="container">
			<div class="single-main">
				<div class="col-md-9 single-main-left">
				<div class="sngl-top">
					<div class="col-md-5 single-top-left">
						<div class="flexslider">
							  <ul class="slides">
								<li data-thumb="images/s-1.jpg">
									<div> <img src="{{url_for('static', filename='images/'+ product.image_link )}}" data-imagezoom="false" class="img-responsive" alt=""/> </div>
								</li>

						</div>

					</div>
					<div class="col-md-7 single-top-right">
						<div class="single-para simpleCart_shelfItem">
						<h2>Lorem Ipsum</h2>
							<div class="star-on">
								<ul class="star-footer">
										<li><a href="#"><i> </i></a></li>
										<li><a href="#"><i> </i></a></li>
										<li><a href="#"><i> </i></a></li>
										<li><a href="#"><i> </i></a></li>
										<li><a href="#"><i> </i></a></li>
									</ul>
								<div class="review">
									<a href="#"> 777 customer review </a>

								</div>
							<div class="clearfix"> </div>
							</div>

							<h5 class="item_price">&#8381 {{ product.goods_price }}</h5>
							<p>{{ product.goods_discription }}</p>
							<div class="available">
								<ul>
									<li>Объем: {{ product.goods_size }}</li>
								    <li>Крепость: {{ product.goods_strength }} </li>
                                    <li>Остаток на складе: {{ product.goods_amount }} </li>
                                    <li>Сорт: {{ product['type_name'] }} </li>

								<div class="clearfix"> </div>
							</ul>
						</div>

								<a href="#" class="add-cart item_add">ADD TO CART</a>

						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
	
				<div class="latestproducts">
					<div class="product-one">
						<div class="col-md-4 product-left p-left">
							<div class="product-main simpleCart_shelfItem">
								<a href="{{url_for('catalog_bp.goods', goods_url = random_beer[0].goods_url)}}" class="mask"><img class="img-responsive zoom-img" src="{{url_for('static', filename='images/'+ random_beer[0].image_link )}}" alt="" /></a>
								<div class="product-bottom">
									<h3>{{random_beer[0].goods_name}}</h3>
									<p>Подробнее</p>
									<h4><a class="item_add" href="{{url_for('catalog_bp.goods', goods_url = random_beer[0].goods_url)}}"><i></i></a> <span class=" item_price">&#8381 {{ random_beer[0].goods_price }}</span></h4>
								</div>
								<div class="srch">
									<span>Buy now!</span>
								</div>
							</div>
						</div>
						<div class="col-md-4 product-left p-left">
							<div class="product-main simpleCart_shelfItem">
								<a href="{{url_for('catalog_bp.goods', goods_url = random_beer[1].goods_url)}}" class="mask"><img class="img-responsive zoom-img" src="{{url_for('static', filename='images/'+ random_beer[1].image_link )}}" alt="" /></a>
								<div class="product-bottom">
									<h3>{{random_beer[1].goods_name}}</h3>
									<p>Подробнее</p>
									<h4><a class="item_add" href="{{url_for('catalog_bp.goods', goods_url = random_beer[1].goods_url)}}"><i></i></a> <span class=" item_price">&#8381 {{ random_beer[1].goods_price }}</span></h4>
								</div>
								<div class="srch">
									<span>Buy now!</span>
								</div>
							</div>
						</div>
						<div class="col-md-4 product-left p-left">
							<div class="product-main simpleCart_shelfItem">
								<a href="{{url_for('catalog_bp.goods', goods_url = random_beer[2].goods_url)}}" class="mask"><img class="img-responsive zoom-img" src="{{url_for('static', filename='images/'+ random_beer[2].image_link )}}" alt="" /></a>
								<div class="product-bottom">
									<h3>{{random_beer[2].goods_name}}</h3>
									<p>Подробнее</p>
									<h4><a class="item_add" href=""{{url_for('catalog_bp.goods', goods_url = random_beer[2].goods_url)}}""><i></i></a> <span class=" item_price">&#8381 {{ random_beer[2].goods_price }}</span></h4>
								</div>
								<div class="srch">
									<span>Buy now!</span>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>



					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>



{% endblock %}
