{% extends 'base.html' %}

{% block title %}
    Бренды
{% endblock %}

{% block content_title %}
    Бренды

       {% for brand in brands %}
            <div class='list-group'>
                <a href="{{url_for('catalog_bp.goods_list_by_brand', brand_url = brand.brand_url,
                page = 1, _external=True)}}">{{brand.brand_name}}</a>
            </div>
        <br>
        {% endfor %}
{% endblock %}