{% extends 'base.html' %}

{% block title %}
    Категории товаров
{% endblock %}

{% block content_title %}
    Категории товаров

       {% for category in categories %}
            <div class='list-group'>
                <h3><a href="{{url_for('catalog_bp.goods_list_by_category', category_url = category.category_url,
                page = 1, _external=True)}}">{{category.category_name}}</a></h3><br>
                {% for tp in category.child_types %}
                    <a href="{{url_for('catalog_bp.goods_list_by_type', type_url=tp.type_url,
                     category_url = category.category_url, page = 1, _external=True)}}"
                       class='list-group-item list-group-item-action'>{{tp.type_name}}</a><br>
                {% endfor %}
            </div>
        <br>
        {% endfor %}
{% endblock %}