{% extends 'base.html' %}

{% block title %}
    
{% endblock %}

{% block content_title %}
<div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="{{url_for ('catalog_bp.goods_list_by_category', category_url=category_id, page=1)  }}">{{category.category_name}}</a></li>
                    <li class="active">{{category.category_discription}}</li>
                </ol>
            </div>
        </div>
    </div>
<div class="prdt">
        <div class="container">
            <div class="prdt-top">
                <div class="col-md-9 prdt-left">
                    <div class="product-one">
                        {% for product in product_list %}
                    <div class="col-md-4 product-left p-left">
                        <div class="product-main simpleCart_shelfItem">
                            <a href="{{url_for('catalog_bp.goods', goods_url = product.goods_url)}}" ><img class="img-responsive zoom-img" src="{{url_for('static', filename='images/'+ product.image_link )}}"   alt="" /></a>
                            <div class="product-bottom">
                                <h3>{{ product.goods_name }}</h3>
                                <p>В корзину</p>
                                <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">&#8381 {{ product.goods_price }}</span></h4>
                            </div>
                            <div class="srch">
                                <span>Buy now!</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                        <div class="clearfix"></div>
                    </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}