{% extends 'base.html' %}

{% block title %}
    Каталог
{% endblock %}

{% block content_title %}
    <h1>{{group.group_name}}</h1>
    <h4>{{group.group_description}}</h4>

    {% for product in product_list  %}
            <div class='list-group'>
                <a href="{{url_for('catalog_bp.goods', goods_url = product.product_url)}}">{{product.product_name }}</a>
            </div>
        {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% if page > 1 %}
                <li class="page-item"><a class="page-link" href="#">{{page-1}}</a></li>
                <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
                <li class="page-item"><a class="page-link" href="#">{{page+1}}</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% elif page == 1 %}
                <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
                <li class="page-item"><a class="page-link" href="#">{{page+1}}</a></li>
                <li class="page-item"><a class="page-link" href="#">{{page+2}}</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% else %}
                redirect (url_for('404.html')
                {% endif %}
            </ul>
        </nav>
    <br>
{% endblock %}