{% extends 'base.html' %}

{% block title %}
    {{group.group_name}}
{% endblock %}

{% block content_title %}
<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="{{url_for ('catalog_bp.goods_list_by_category', category_url=group.group_id, page=1)  }}">{{group.group_name}}</a></li>
					<li class="active">{{group.group_description}}</li>
				</ol>
			</div>
		</div>
	</div>
<div class="prdt">
		<div class="container">
			<div class="prdt-top">
				<div class="col-md-9 prdt-left">
					<div class="product-one">
						{% for product in product_list %}
					<div class="col-md-4 product-left p-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="{{url_for('catalog_bp.goods', goods_url = product.product_url)}}" ><img class="img-responsive zoom-img" src="{{url_for('static', filename='images/'+ product.image_link )}}"   alt="" /></a>
							<div class="product-bottom">
								<h3>{{ product.product_name }}</h3>
								<p>В корзину</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">&#8381 {{ product.product_price }}</span></h4>
							</div>
							<div class="srch">
								<span>Buy now!</span>
							</div>
						</div>
					</div>
					{% endfor %}
						<div class="clearfix"></div>
					</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<form class="select_button" method="post" >
				<div class="col-md-3 prdt-right">
					<div class="w_sidebar">
						<section  class="sky-form">
							<h4>Сорт</h4>
							<div class="row1 scroll-pane">
								<div class="col col-4">
									{% for type in typelist %}
									<label class="checkbox"><input method="post" type="checkbox" value="{{ type.type_name }}" name="typeselect" ><i></i>{{ type.type_name}}</label>
									{% endfor%}
								</div>
								
							</div>
						</section>
						<section  class="sky-form">
							<h4>Производитель</h4>
							<div class="row1 row2 scroll-pane">
								<div class="col col-4">
									{% for brand in brandlist %}
									<label class="checkbox"><input method="post" type="checkbox" value="{{ brand.brand_name }}" name="brandselect" ><i></i>{{ brand.brand_name }}</label>
									{% endfor%}
								</div>
							</div>
						</section>
						<section  class="sky-form">
							<h4>Страна</h4>
							<div class="row1 row2 scroll-pane">
								<div class="col col-4">
									{% for country in countrylist %}
									<label class="checkbox"><input method="post" type="checkbox" value="{{ country.goods_country }}"  name="countryselect" ><i></i>{{ country.goods_country }}</label>
									{% endfor%}
								</div>
							</div>
						</section>

					</div>
					
						

							<p><input  type="submit"  value="Применить" /></p>
						</form>
					  		
				</div>
				<div class="clearfix"></div>
			</div>
		    </div>	 
        
	
			
		<div class="newpagination">
			<a href="{{url_for ('catalog_bp.goods_list_by_category', category_url=GroupCategory, page=1)  }}">&laquo;</a>
				
					{% for pg in range(page-3,page+3) %}
						{% if pg < 1 or pg > lastpage %}
							
						{% elif pg==page %}
						<a href="{{url_for ('catalog_bp.goods_list_by_category', category_url=GroupCategory, page=pg)  }}" class="active">{{pg}}</a>
						{% else %}
						 <a href="{{url_for ('catalog_bp.goods_list_by_category', category_url=GroupCategory, page=pg)  }}">{{pg}}</a>
						
						{% endif %} 
					{% endfor %}
				 
						  <a href="{{url_for ('catalog_bp.goods_list_by_category', category_url=GroupCategory, page=lastpage)  }}">&raquo;</a>
		</div>
		    
	</div>	 

 
    <br>


{% endblock %}