{% extends 'base.html' %}

{% block title %}
    Не найдено
{% endblock %}

{% block content_title %}

    <div>
	<img src="/static/images/err404.jpg" position="relative" width="100%" />
	    <h2 align="center" position="absolute">OOPS</h2>
		<h1 align="center"> ERROR 404</h1>
		<h3 align="center">Страница которую вы искали куда-то пропала :(</h3>
    </div>

{% endblock %}

