<!DOCTYPE html>
<html>
<head>
<title>{% block title %}
               {% endblock %} | CraftShop </title>
<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
<script src="/static/js/jquery-1.11.0.min.js"></script>
<!--Custom-Theme-files-->
<!--theme-style-->
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--start-menu-->
<script src="/static/js/simpleCart.min.js"> </script>
<link href="/static/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/static/js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>	
<!--dropdown-->
<script src="/static/js/jquery.easydropdown.js"></script>
</head>
<body> 
	<!--top-header-->
	<div class="top-header">
		<div class="container">
			<div class="top-header-main">


				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--top-header-->
	<!--start-logo-->
	<div class="logo">
		<a href="{{url_for('home_page_bp.home_page')}}"><h1>Craft Beer Shop</h1></a>
	</div>

	<!--start-logo-->
	<!--bottom-header-->
	<div class="header-bottom">
		<div class="container">
			<div class="header">
				<div class="col-md-9 header-left">
				<div class="top-nav">
					<ul class="memenu skyblue"><li class="active"><a href="{{url_for('home_page_bp.home_page')}}">Home</a></li>
						<li class="grid"><a href="{{ url_for ('catalog_bp.goods_list_by_category', category_url=1, page=1)  }}">Beer</a>
							
						</li>
						<li class="grid"><a href="{{ url_for ('catalog_bp.goods_list_by_category', category_url=2, page=1)  }}">Cider</a>
							
						</li>
						<li class="grid"><a href="{{ url_for ('catalog_bp.goods_list_by_category', category_url=3, page=1)  }}">Mead</a>
						
						</li>
						<li class="grid"><a href="{{url_for('personal_account_bp.personal_account')}}">My page</a>
						</li>
						<li class="grid"><a href="{{url_for('contacts')}}">Contacts</a>
						</li>

					</ul>

				</div>
				<div class="clearfix"> </div>

			</div>
			<div class="col-md-3 header-right"> 
				<div class="search-bar">
					<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
					<input type="submit" value="">
				</div>
			</div>
			<div class="clearfix"> </div>
			</div>
		</div>
	</div>
  	<div>{% block content_title %}
	{% endblock %}
	</div>
	<!--product-end-->
	<!--information-starts-->
	<div class="information">
		<div class="container">
			<div class="infor-top">

			</div>
		</div>
	</div>
	<!--information-end-->
	<!--footer-starts-->

	
	<div class="footer">
		<div class="container">


				<div class="footer-right">
					<p> 🍺 2020 Luxury Beer Craft </p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--footer-end-->	
</body>
</html>