{% extends 'base.html' %}

{% block title %}
Контакты
    
{% endblock %}

{% block content_title %}

    <div >
	<img  src="/static/images/shop.jpg"  position="relative" width="100%" />
	    
		<h3 align="center">Красная пл., Москва, 109012</h3>
    </div>

{% endblock %}
